name: Build, test and Push Docker Image
on:
  push:
    paths:
      - 'app/**'
      - '.github/workflows/**'

permissions:
  contents: read
  id-token: write

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt

      - name: Run tests
        run: |
          pytest app/tests

  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: AWS Login via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        uses: docker/build-push-action@v4
        with:
          context: ./app
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/url-shortener:{{ github.sha }}

  trivy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: AWS Login via OIDC
        uses: aws-actions/configure-aws-credentials@v2

      - name: Set up Trivy
        uses: aquasecurity/trivy-action@v0.10.3
        with:
          image-ref: ${{ steps.login-ecr.outputs.registry }}/url-shortener:{{ github.sha }}
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true